<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
				<value>classpath:hibernate.properties</value>
			</list>
		</property>
	</bean>
    
    <!-- datasource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>
    
    <!-- hibernate -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- scan entity -->
        <property name="packagesToScan">
            <list>
                <value>com.ibm.dst.frame.ssh.user.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                
                <!-- JDBC connection pool (use the built-in) -->
        		<prop key="connection.pool_size">1</prop>
                <!-- Enable Hibernate's automatic session context management -->
		        <!-- <prop key="current_session_context_class">thread</prop> -->
		        <!-- Disable the second-level cache  -->
		        <prop key="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
		        <!-- Drop and re-create the database schema on startup -->
		        <prop key="hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
	
</beans>